.criminalList {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    justify-content: space-between;

}
.criminal__card {
    border: 3px dotted black;
    margin: 10px;
    width: 250px

}
.criminal__name {
    font-weight: bold;
}